
/* gioithieutongquan */
.Hime .Castle-container .TieuDeVanBan{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #ad9a6d;
    border-bottom: 2px solid black;
    
}

.Hime .Castle-container{
    
    
    background-color: #f4efe4;
}

.Castle-container .ten{
    margin-left: 10%;
    margin-top: 5%;
    color: rgb(116, 23, 23);
}



/* gioithieutongquan */
.Castle-container .Castle .Castle1{
    display: grid;
    grid-template-columns: 30% 70% ;
    
   
}

.Castle-container .Castle1 .tieude1{
    margin-left: 50px;
    margin-right: 50px;
}

.Castle-container .Castle1 .noidung1{
    margin-top: 30px;
    margin-right: 50px;
    
    font-size: 20px;
    text-align: justify;
}

.Castle-container .Castle1 .noidung1 .vanban2{
    padding-top: 30px;
    font-size: 20px;
    
    text-align: justify;

}

.Castle-container .Castle1 .tieude1 .hinh1{
    width: 100%;
}
 

.Castle-container .Castle2 .noidung2 .vanban3{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    text-align: justify;
}

/* thiet ke xay dung */
.thietkexaydung{
    margin-top: 80px;
}

.thietkexaydung .noidung3 .vanban4{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    font-size: larger;
}
.thietkexaydung .tieude2 .tentieude{
    font-weight: bold;
    font-size: 40px;
    padding-right: 70%;
    color: #ad9a6d;
    border-bottom: 2px solid black;
    background-color:#d7ccaa;
}
.thietkexaydung .tieude2 .tentieude1{
    font-weight: bold;
    font-size: 20px;
    padding-right: 87%;
    margin-top: 40px;
    color: #ad9a6d;
}

.thietkexaydung .noidung4{
    display: grid;
    grid-template-columns: 70% 30% ;
    margin-top: 40px;
}
.thietkexaydung .noidung4 .img-fluid{
    width: 200%;
    
    padding-left: 18%;
    padding-top: 70px;
    
    
}
 .thietkexaydung .noidung4 .vanban5{
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
    font-size: larger;
 }


 .thietkexaydung .noidung5{
    display: grid;
    grid-template-columns: 70% 30% ;
    margin-top: 40px;
}
.thietkexaydung .noidung5 .hinh3{
    width: 100%;
    padding-right: 18%;
   
}
 .thietkexaydung .noidung5 .vanban6{
    text-align: justify;
    padding-left: 8%;
    padding-top: 10px;
    padding-right: 8%;
    font-size: larger;
 }

 .thietkexaydung .tieude3 .tentieude2{
    font-weight: bold;
    font-size: 20px;
    padding-right: 73%;
    padding-top: 5%;
    color: #ad9a6d;
 }
 .thietkexaydung .noidung6{
    display: grid;
    grid-template-columns: 30% 70% ;
    margin-top: 60px;
 }

 .thietkexaydung .noidung6 .img-fluid{
    width:100%;
    padding-left: 18%;

 }
.thietkexaydung .noidung6 .vanban7{
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
    font-size: larger;
}

.thietkexaydung .tieude4 .tentieude3{
    font-weight: bold;
    font-size: 20px;
    padding-right: 83%;
    padding-top: 5%;
    color: #ad9a6d;
}
.thietkexaydung .noidung7{
    display: grid;
    grid-template-columns: 70% 30% ;
    margin-top: 40px;
}
.thietkexaydung .noidung7 .vanban8{
    text-align: justify;
    padding-left: 8%;
    padding-top: 10px;
    padding-right: 8%;
    font-size: larger;
}
.thietkexaydung .noidung7 .img-fluid{
    width: 150%;
    padding-right: 18%;
}

.lichsuhinhthanh .tieude5 .tentieude{
    font-weight: bold;
    font-size: 40px;
    padding-right: 57%;
    border-bottom: 2px solid black;
    margin-top: 70px;
    color: #ad9a6d;
}
.lichsuhinhthanh .tieude5 .tentieude3{
    font-weight: bold;
    font-size: 20px;
    padding-right: 49%;
    padding-top: 30px;
    color: #ad9a6d;
}

.lichsuhinhthanh .tieude5 .vanban9{
    text-align: justify;
    padding: 30px 50px 0px 50px;
    font-size: larger;
}
.lichsuhinhthanh .noidung8{
    display: flex;
    
}
 .lichsuhinhthanh .noidung8 .hinh5{
    width: 20%;
    padding-left: 50px;
    flex: 30%;
    
    
 }
 .lichsuhinhthanh .noidung8 .vanban10to{
    text-align: justify;
    font-size: 20px;
    flex: 50%;
    display: flex;
    flex-direction: column;
 }
 .lichsuhinhthanh .noidung8 .vanban10{
   flex: 50%;
   padding-top: 15%;
    padding-right: 10%;
    font-size: 30px;
    font-family: Georgia, serif;
 }
 .lichsuhinhthanh .noidung8 .vanban10nho{
    color: brown;
    font-size: 20px;
    font-family: cursive;
    
 }

 .container .row .col-6 .hinh6 img{
    width: 100%;
    padding-bottom: 50px;
  }
  
.container .dulichvadacdiem .tieude6 .tentieude{
    font-weight: bold;
    font-size: 40px;
    padding-right: 90%;
    border-bottom: 2px solid black;
    margin-top: 70px;
    color: #ad9a6d;
}
.container .dulichvadacdiem .tieude6 .tentieude3{
    font-weight: bold;
    font-size: 20px;
    padding-right: 87%;
    padding-top: 30px;
    color: #ad9a6d;
}
.container .row .col-3 .tieude{
    text-align: justify;
    color: black;
    padding-right: 50%;
    font-size: 50px;
}